body {
	background-color: #ffffda;
	margin-left: 200px;
	margin-top: 10px;
	margin-right: 200px;
	margin-bottom: 10px;
	font-family: Arial;
	font-size: 16px;
	/*text-transform: uppercase;*/
	
}
div#container { width:auto; margin:1 auto; }
div#header { background: url(img/logo.png) no-repeat; height:90px; width:auto; padding: 5px 10px 5px 10px; }
div#navigation { border-radius: 10px; padding: 5px 10px 5px 10px; margin-top: 10px; text-align:center; }
div#main { /*background-color: #f7f7f7;*/ width: 650px; border-radius: 10px; padding: 5px 10px 5px 10px; margin-top: 10px; }
div#sidebar { background-color: #ffffff; float: right; width: 200px; border-radius: 10px; padding: 10px 10px 10px 10px;  margin-top: 10px; }
div#sidebar { -moz-box-shadow:  10px  10px 5px #efefef;
  -webkit-box-shadow:  10px  10px 5px #efefef;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#efefef', Direction=135, Strength=10);
  box-shadow: 10px 10px 5px #efefef; }
div#footer { clear: right; text-align:center; padding: 5px 10px 5px 10px; margin-top: 10px; } 
#border_shadow {
  border-radius: 10px;
  -moz-border-radius: 10px; /* firefox */
  -webkit-border-radius: 10px; /* safari, chrome */
   -moz-box-shadow:  10px  10px 5px #efefef;/* firefox */
  -webkit-box-shadow:  10px  10px 5px #efefef;/* safari, chrome */
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#efefef', Direction=135, Strength=10);
  box-shadow: 10px 10px 5px #efefef;
}
a:link, a:visited {
    text-decoration: underline;
    color: #c42d26;
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: none;
	color: #000000;
}